@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
#father {
  border-top: 1px red dotted;
  border-bottom: solid 1px red;
  margin: 30px;
  width: 500px;
  height: 500px;
  position: relative;
}
#father .children {
  width: 300px;
  height: 300px;
  background-color: pink;
}
#father .children ul {
  border-top: 1px red dotted;
  border-bottom: solid 1px red;
}
#father .children ul li {
  display: inline-block;
  list-style-type: none;
  margin-top: 10px;
  background-color: powderblue;
  color: rebeccapurple;
}
@media (max-width: 768px) {
  #father .children ul li {
    color: red;
  }
}
